<% books.each do |book| %>
  <div class="fuzzy">
    <%= link_to book do %>
      <div class="row">
        <div class="col-sm-12">
          <h4><%= book.title %></h4>
          <p><%= book.author %>, <%= book.public_year %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
