<div class= "container">
<h1>List users</h1>
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>
<table>
  <thead>
    <tr>
      <td>Nickname</td>
      <td>Email</td>
      <td>Role</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <%= render user %>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
